body {
    margin: 0;
    padding: 0;
    background-image: url('/images/london.jpg');
    background-repeat: no-repeat;
    background-position: top center;
}

#main_section {
    max-width: 800px;
    padding: 30px;
    margin: 300px auto;
    background-color: rgba(255, 255, 255, 0.8);
}

a {
    margin: 0px;
}
